.beam-battery {
  background-image: url('battery.svg');
  color: tan;
  display: inline-block;
  height: 3em;
  text-align: center;
  width: 3em;
}

.beam-battery--class-1 {
  background-image: url('battery-class-1-all-arc.svg');
}

.beam-battery--class-2 {
  background-image: url('battery-class-2-fp-fwd-fs.svg');
}

.beam-battery--class-2-port {
  background-image: url('battery-class-2-ap-fp-fwd.svg');
}

.beam-battery--class-2-starboard {
  background-image: url('battery-class-2-fwd-fs-as.svg');
}

.beam-battery--class-3 {
  background-image: url('battery-class-3-fwd.svg');
}

.advanced-battery {
  background-image: url('advanced-battery.svg');
  color: tan;
  display: inline-block;
  height: 3em;
  text-align: center;
  width: 3em;
}

.advanced-battery--class-1 {
  background-image: url('advanced-battery-class-1.svg');
}

.advanced-battery--class-2 {
  background-image: url('advanced-battery-class-2.svg');
}

.advanced-battery--class-3 {
  background-image: url('advanced-battery-class-3.svg');
}
