.needle-system {
  background-image: url('needle-system.svg');
  display: inline-block;
  height: 3em;
  margin: .2em;
  width: 3em;
}

.needle-system--3-arc {
  background-image: url('needle-system-3-arc.svg');
}
