.torpedo-system {
  background-image: url('torpedo-system.svg');
  display: inline-block;
  height: 3em;
  margin: .2em;
  width: 3em;
}

.torpedo-system--3-arc {
  background-image: url('torpedo-system-3-arc.svg');
}

.torpedo-system--long-range {
  background-image: url('torpedo-system-long-range.svg');
}

.torpedo-system--long-range-3-arc {
  background-image: url('torpedo-system-long-range-3-arc.svg');
}

.torpedo-system--short-range {
  background-image: url('torpedo-system-short-range.svg');
}

.torpedo-system--short-range-3-arc {
  background-image: url('torpedo-system-short-range-3-arc.svg');
}
